Importo pandas con el pd para no escribir "pandas"

In [1]:
import pandas as pd

Cargo los CSV

In [3]:
df1 = pd.read_csv("datos_comunas.csv")
df2 = pd.read_csv("poblacion.csv",  sep = ";")

Hago el merge, me fijo que el "right_on" y "left_on" inquen los mismos datos (no necesariamente el mismo nombre de la columna, pero si el mismo contenido de la columna)

In [4]:
df = pd.merge(df1, df2, left_on='id', right_on='CODIGO')

Defino series para trabajar más fácil

In [5]:
mt_plaza = df["metros_plaza"]
comunas = df["MUNICIPIO"]
personas = df["personas_trabaja"]

Reviso el nombre de la comuna con más trabajadores en la municipalidad

In [6]:
df.sort_values(by='personas_trabaja', ascending=False)

        id  metros_plaza  metros_parque  ...  CODIGO     MUNICIPIO POBLACIÓN
256  13101      330216.0      1578022.0  ...   13101      SANTIAGO    486838
46    5109      809912.0       566972.0  ...    5109  VIÑA DEL MAR    357228
269  13114     1636790.0       362000.0  ...   13114    LAS CONDES    323309
278  13123      212347.0       418630.0  ...   13123   PROVIDENCIA    154446
40    5101      464470.0            0.0  ...    5101    VALPARAÍSO    313185
..     ...           ...            ...  ...     ...           ...       ...
311  14104           NaN            NaN  ...   14104     LOS LAGOS     20488
331  16108       28459.0            0.0  ...   16108   SAN IGNACIO     16598
333  16201           NaN            NaN  ...   16201      QUIRIHUE     12155
334  16202           NaN            NaN  ...   16202    COBQUECURA      5281
339  16207        5500.0         7500.0  ...   16207      TREHUACO      5667

[345 rows x 7 columns]